# Ignore the build directories (target) across all levels
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite) specific ignores
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Maven build directory
/target/

# Eclipse/STS IDE metadata
/.metadata/

# STS workspace directory
/workspace/

# Other files to ignore
*.log
*.bak
*.pid
*.md

# macOS system file
.DS_Store  

# Spring Boot dev tools
.spring-boot-devtools/

# Vim swap files
*.swp  